{% extends 'templates/web.html'%}

{% block page_content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
{{ frappe.render_template('templates/components/breadcrumbs/breadcrumbs.html', {'no_container': true})}}
{% if owner == frappe.session.user %}
<div class="main-container pb-4">
    <div class="">
        <div class="row g-0">
            <div class="col-12 col-md-8 d-flex p-0">
                <div class="px-4 mb-4">
                    <div class="d-flex">
                        <h3 class="mr-2 d-none d-sm-block">#{{ name }}</h3>
                        <h3>{{ subject }}</h3>
                    </div>
                </div>
            </div>
            <div class="chat-container col-12 col-md-8 p-0">
                <div id="conversationContainer" class="chat-messages px-4 pt-4">
                </div>
                <hr class="m-0">
                <div class="flex-grow-0 px-4">
                    <div class="input-group">
                        <textarea id="messageInput" rows="5" style="height: 50px; resize: none;" class="form-control bg-white m-2" placeholder="Type your message"></textarea>
                        <div class="mt-3">
                            <button id="attachButton" class="add-attachment-helpdesk btn btn-secondary btn-sm mx-2">Attach</button>
                            <button id="submitButton" class="btn btn-primary btn-sm">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-3 d-none d-sm-none d-md-block col-md-3">
                <div class="frappe-card container p-5">
                    <div class="mb-2">
                        <span>Ticket Details</span>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <div class="mb-2">
                            <span>Status</span>
                        </div>
                        <div class="dropdown">
                            {% set is_closed = (status in ['Resolved', 'Closed'])%}
                            <a id="ticketStatusDropdownTitle"class="btn btn-default btn-sm list-sidebar-button dropdown-toggle w-100" type="button" id="filterDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if is_closed %}
                                <span class="ellipsis">Closed</span>
                                {% else %}
                                <span class="ellipsis">Open</span>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="filterDropdownMenuButton">
                                <a class="status-menu-item dropdown-item">Open</a>
                                <a class="status-menu-item dropdown-item">Closed</a>
                            </div>
                        </div>
                    </div>
                    <button id="ticketStatusSaveButton" class="mt-4 btn btn-primary btn-sm w-100" disabled="true">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-warning">
    <p>
        You don't have access to this ticket.
    </p>
</div>
{% endif %}

<script type="text/javascript" src="/assets/frappe/node_modules/vue/dist/vue.js"></script>

<script>
    let curTicketStatus = '{{ status }}';
    if(['Resolved', 'Closed'].includes(curTicketStatus)) {
        curTicketStatus = 'Closed';
    } else {
        curTicketStatus = 'Open';
    }

    let tempCurTicketStatus = curTicketStatus;

    frappe.ready(function() {        
        refreshConversations(true);
        setInterval(refreshConversations, 5000, false);

        $("#submit").click(function() {
            var data = $("#btn-input").val();
            $('chat_log').append('<div class="row msg_container base_sent"><div class="col-md-10 col-xs-10"><div class="messages msg_receive"><p>'+data+'</p></div></div></div><div class="row msg_container base_receive"><div class="col-md-10 col-xs-10"><div class="messages msg_receive"><p>'+data+'</p></div></div></div>');
            clearInput();
        });
            
        $("#submitButton").click(function() {
            frappe.call({
                btn: this,
                method: "helpdesk.helpdesk.doctype.ticket.ticket.create_communication_via_contact",
                args: {
                    ticket: "{{ name }}",
                    message: $("#messageInput").val(),
                    attachments: ''
                },
                callback: function(r) {
                    $("#messageInput").val('')
                    $(".helpdesk-attachment").empty();
                    
                    refreshConversations(true);
                }
            })
        })

        $(".status-menu-item").click(function() {
            selText = $(this).text();
            let newStatus = "Open"
            if (selText == "Open") {
                newStatus = "Open"
            } else {
                newStatus = "Closed"
            }

            tempCurTicketStatus = newStatus;
            $("#ticketStatusDropdownTitle").html(selText);
            $('#ticketStatusSaveButton').prop('disabled', (curTicketStatus == newStatus));
        })

        $("#ticketStatusSaveButton").click(function() {
            frappe.call({
                btn: this,
                method: "helpdesk.helpdesk.doctype.ticket.ticket.update_ticket_status_via_customer_portal",
                args: {
                    ticket: "{{ name }}",
                    new_status: tempCurTicketStatus
                },
                callback: function(r) {
                    curTicketStatus = r.message;
                    $('#ticketStatusSaveButton').prop('disabled', true);

                    frappe.show_alert({
                        message:__('Ticket status set to ' + curTicketStatus),
                        indicator:'green'
                    });
                }
            })
        })
    });

    function refreshConversations(scroll) {
        frappe.call({
            method: "helpdesk.helpdesk.doctype.ticket.ticket.get_all_conversations",
            args: {
                ticket: "{{ name }}",
            },
            callback: function(r) {
                let conversations = r.message;
                let conversationContainer = $("#conversationContainer");
                conversationContainer.empty();
                for(var i = 0; i < conversations.length; i++) {
                    let conversationElement = jQuery('<div>').appendTo(conversationContainer);
                        
                    let is_received = conversations[i].sent_or_received == "Received";
                    conversationElement.append(`
                        <div class="flex-shrink-1 bg-white frappe-card rounded p-5 mr-3 mb-4">
                            <div class="d-flex">
                                <div>
                                    <img class="mr-2" src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Images.png" style="height: 50px; width: 50px;">
                                </div>
                                <div class="top-section">
                                    <div>
                                        <span class="h6">
                                            ${is_received ? "You" : "Agent"}
                                        </span>
                                    </div>
                                    <div>
                                        <h7>
                                            ${conversations[i].creation}
                                        </h7>
                                    </div>
                                </div>
                            </div>
                            <div class="message">
                                <p>
                                    ${conversations[i].content}
                                </p>
                            </div>
                            <div class="attachments">
                            </div>
                        </div>
                    `)

                    let attachmentContainer = conversationElement.find(".attachments");

                    for(var j = 0; j < conversations[i].attachments.length; j++) {
                        let attachment = conversations[i].attachments[j]
                        attachmentContainer.append(`
                            <div role="button" class="attachment text-secondary rounded my-2" onclick="window.open('${attachment.file_url}', '_blank')">
                                <i class="bi bi-paperclip"></i>
                                <span class="h7">${attachment.file_name}</span>
                            </div>
                        `)
                    }
                }
                if(scroll) {
                    $("#conversationContainer").stop().animate({ scrollTop: $("#conversationContainer")[0].scrollHeight}, 1000);
                }
            }
        })
    }
</script>
<style>
    
    .chat-messages {
        display: flex;
        flex-direction: column;
        height: 550px;
        overflow-y: scroll
    }
    
    .chat-message-left,
    .chat-message-right {
        display: flex;
        flex-shrink: 0
    }
    
    .chat-message-left {
        margin-right: auto
    }
    
    .chat-message-right {
        flex-direction: row-reverse;
        margin-left: auto
    }
    
    .attachment {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% endblock %}