{% extends 'templates/web.html'%}

{% block page_content %}
{% if owner == frappe.session.user %}
<main class="content">
    <div class="container p-0">
		<div class="">
			<div class="row g-0">
				<div class="col-12 col-lg-5 col-xl-3 border-right mb-4">
                    <strong>Ticket #{{ name }}</strong>
                    {% if status == "Resolved" %}
                    <span class="ml-2 badge badge-success">Resolved</span>
                    {% else %}
                    <span class="ml-2 badge badge-warning">Open</span>
                    {% endif %}
                </div>
				<div class="chat-container col-12 col-lg-7 col-xl-9">
					<div class="position-relative">
                        <div id="conversationContainer" class="chat-messages p-4">
						</div>
					</div>
					<div class="flex-grow-0 py-3 px-4">
						<div class="input-group">
							<input id="messageInput" type="text" class="form-control" placeholder="Type your message">
							<button id="submitButton" class="btn btn-primary">Send</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% else %}
<div class="alert alert-warning">
    <p>
        You don't have access to this ticket.
    </p>
</div>
{% endif %}

<style>
.chat-container {
    height: 550px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    height: 550px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

</style>
<script>
    frappe.ready(function() {
        refreshConversations(true);
        setInterval(refreshConversations, 5000, false);
        
        $("#submit").click(function() {
            var data = $("#btn-input").val();
                //console.log(data);
                $('chat_log').append('<div class="row msg_container base_sent"><div class="col-md-10 col-xs-10"><div class="messages msg_receive"><p>'+data+'</p></div></div></div><div class="row msg_container base_receive"><div class="col-md-10 col-xs-10"><div class="messages msg_receive"><p>'+data+'</p></div></div></div>');
                clearInput();
            });
            
            $("#submitButton").click(function() {
                frappe.call({
                    btn: this,
                    method: "helpdesk.helpdesk.doctype.ticket.ticket.create_communication_via_contact",
                    args: {
                        ticket: "{{ name }}",
                        message: $("#messageInput").val()
                    },
                    callback: function(r) {
                    $("#messageInput").val('')
                    refreshConversations(true);
				}
			})
        })
    })

    function refreshConversations(scroll) {
        frappe.call({
            method: "helpdesk.helpdesk.doctype.ticket.ticket.get_all_conversations",
            args: {
                ticket: "{{ name }}",
            },
            callback: function(r) {
                let conversations = r.message;
                let conversationContainer = $("#conversationContainer");
                conversationContainer.empty();
                conversationContainer.append(`
                    <div class="p-4 mb-4">
                        <div>
                            Created on {{ frappe.format_date(creation) }}
                        </div>
                        <div class="font-weight-bold">
                            {{ subject }}
                        </div>
                    </div>
                `)
                for(var i = 0; i < conversations.length; i++) {
                    let is_received = conversations[i].sent_or_received == "Received";
                    let agent_img = "https://cdn-icons.flaticon.com/png/512/2993/premium/2993151.png?token=exp=1642374990~hmac=7651e44832fd0866663523c8f51faf77"
                    let person_img = "https://cdn-icons-png.flaticon.com/512/2922/2922506.png"
                    conversationContainer.append(`
                        <div class="${is_received ? 'chat-message-right' : 'chat-message-left'} pb-4">
                            <div>
                                <img src="${is_received ? person_img : agent_img}" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                            </div>
                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                ${conversations[i].content}
                            </div>
                        </div>
                    `);
                }
                if(scroll) {
                    $("#conversationContainer").stop().animate({ scrollTop: $("#conversationContainer")[0].scrollHeight}, 1000);
                }
            }
        })
    }

</script>

{% endblock %}