<div class="mt-10">
	{% if hr_tag %}
	<hr />
	{% endif %}
	<div class="mt-20">
		<div class="my-1 d-flex justify-content-center">
			<p>{{ _("Still got questions? We're here to assist you.") }}</p>
		</div>
		<div class="d-flex justify-content-center">
			<button id="contactUsButton" class="btn btn-primary">
				{{ _("Contact with us") }}
			</button>
		</div>
	</div>

	<script>
		frappe.ready(function () {
			$("#contactUsButton").click(function () {
				window.location = "/support/tickets"
			})
		})
	</script>
</div>
