{% extends 'templates/web.html'%}

{% block page_content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
{% if frappe.session.user != "Guest" %}
<div class="main-container">
    <div class="d-flex mb-2">
        <div class="mr-auto">
            <h2>Your Tickets</h2>
        </div>
        <div class="d-flex">
            <div class="dropdown mr-2">
                <a class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Show All
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Show All</a>
                    <a class="dropdown-item">Show Open</a>
                    <a class="dropdown-item">Show Resolved</a>
                </div>
            </div>
            <div>
                <button class="btn btn-sm btn-primary" onclick="window.location='/support/tickets/new'">New Ticket</button>
            </div>
        </div>
    </div>
    <div class="frappe-card bg-white">
        <div class="list-group-flush tickets-container">
            {% set user_email = frappe.session.user %}
            {% set tickets = frappe.get_all("Ticket", filters={"raised_by": ['=', user_email]}, fields=['name', 'subject', 'description', 'status', 'creation', 'route']) %}
            {% for ticket in tickets %}
            <div class="list-group-item" onclick="window.location='/{{ ticket.route}}'">
                <div class="float-right">
                    {% if ticket.status == "Resolved" %}
                    <span class="indicator-pill green filterable ellipsis">Resolved</span>
                    {% else %}
                    <span class="indicator-pill orange filterable ellipsis">Open</span>
                    {% endif %}
                </div>
                <div class="ticket-card-main">
                    <h3>{{ ticket.subject }}</h3>
                    <span class="">{{ frappe.format(ticket.creation) }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-warning">
    <p>
        Please login to be able to create tickets.
    </p>
    <p>
        If you don't already have an account, you can <a href="/login#signup">sign up for a new account</a>.
    </p>
    <a class="btn btn-primary" href="/login">Login to continue</a>
</div>
{% endif %}
{% endblock %}