include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include frappedesk *.css
recursive-include frappedesk *.csv
recursive-include frappedesk *.html
recursive-include frappedesk *.ico
recursive-include frappedesk *.js
recursive-include frappedesk *.json
recursive-include frappedesk *.md
recursive-include frappedesk *.png
recursive-include frappedesk *.py
recursive-include frappedesk *.svg
recursive-include frappedesk *.txt
recursive-exclude frappedesk *.pyc