@import "./assets/Inter/inter.css";
@import "frappe-ui/src/style.css";

@layer components {
	/* Works on Firefox */
	* {
		scrollbar-width: thin;
		scrollbar-color: #c0c6cc #ebeef0;
	}

	html {
		scrollbar-width: auto;
	}

	/* Works on Chrome, Edge, and Safari */
	*::-webkit-scrollbar-thumb {
		background: #c0c6cc;
		border-radius: 6px;
	}

	*::-webkit-scrollbar-track,
	*::-webkit-scrollbar {
		width: 5px;
		height: 6px;
	}

	body::-webkit-scrollbar {
		width: 5px;
		height: 12px;
	}
}

.form-checkbox {
	height: 14px;
	width: 14px;
	border-radius: 4px;
}

.ProseMirror {
	outline: none;
}
