@import "./assets/Inter/inter.css";
@import "frappe-ui/src/style.css";

@layer components {
	/* Works on Firefox */
	* {
		scrollbar-width: thin;
		scrollbar-color: #c0c6cc #ebeef0;
	}

	html {
		scrollbar-width: auto;
	}

	/* Works on Chrome, Edge, and Safari */
	*::-webkit-scrollbar-thumb {
		background: #c0c6cc;
		border-radius: 6px;
	}

	*::-webkit-scrollbar-track,
	*::-webkit-scrollbar {
		width: 5px;
		height: 6px;
	}

	body::-webkit-scrollbar {
		width: 5px;
		height: 12px;
	}
}

.form-checkbox {
	height: 14px;
	width: 14px;
	border-radius: 4px;
}

.ProseMirror {
	outline: none;
}

.badge-primary {
	@apply bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800;
   }
   
   .badge-danger {
	@apply bg-red-100 text-red-600 text-xs font-normal mr-2 px-2.5 py-0.5 rounded dark:bg-red-100 dark:text-red-900
   }

.badge-success {
	@apply text-xs font-normal mr-2 px-2.5 py-0.5 text-green-600 bg-green-100 rounded dark:bg-green-200 dark:text-green-800
}

.badge-question {

	@apply text-xs font-normal mr-2 px-2.5 py-0.5 text-white bg-purple-400 rounded dark:bg-purple-200 dark:text-purple-800
}

.badge-incident {
	@apply text-xs font-normal mr-2 px-2.5 py-0.5 text-white bg-pink-400 rounded dark:bg-pink-600 dark:text-pink-800
}

.badge-replied {
	@apply text-xs font-normal mr-2 px-2.5 py-0.5 text-orange-600 bg-orange-100 rounded dark:bg-orange-600 dark:text-orange-800
}