{% extends "templates/kb_base_template.html" %}

{% block page_content %}
<div class="container my-40 d-flex justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="justify-content-center d-flex">
            <h2>{{ _("How can we help you?") }}</h2>
        </div>
        <input id="propSearchBar" class="form-control" type="text" placeholder="Search support articles" maxlength="0">
    </div>
</div>

<div class="explore-kb-container w-100 pt-10 pb-8">
    <div class="justify-content-center d-flex mb-5">
        <div>
            <h3 class="font-weight-bold">{{ _("Explore the Knowledge Base") }}</h3>
        </div>
    </div>
    <div class="category-card-container container">
        <div class="row">
            {% for category in categories %}
            <div class="category-card card col-sm-4" data-value="{{category.name}}">
                <div class="card-body">
                    <div class="d-flex">
                        <h5 class="card-title" style="color:#4C5A67;">{{category.name}}</h5>
                        <i class="pl-2 bi bi-chevron-right"></i>
                    </div>
                    <p class="card-text">{{category.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{{ frappe.render_template('templates/components/search/search.html', {}) }}

<style>
    .explore-kb-container {
        background-color: #F4F5F6;
    }
    .card{
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
        cursor: pointer;
    }
    .card:hover{
        transform: scale(1.005);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }

    .category-card {
        box-sizing: border-box;
        flex: 250px;
        margin: 1rem;
        padding: 1rem;
    }
</style>

<script>
    frappe.ready(function() {
        $(".category-card").click(function() {
            let category = this.getAttribute("data-value");
            console.log('button clicked');
            
            frappe.call({
                btn: this,
                method: "helpdesk.www.support.kb.index.get_category_website_route",
                args: {
                    category: category
                },
                callback: function(r) {
                    console.log(r);
                    window.open(`/${r.message.route}`, '_self')
                }
            })
        });

        $("#propSearchBar").click(function() {
            showSearchBar();
        })
    })
</script>

{% endblock %}
