{% extends "templates/web.html" %}

{% block page_content %}
<div>
	<div class="container d-flex mb-5">
		<h2 class="">Knowledge Base</h2>
        <div class="col-xs-4 ml-5">
			<input id="propSearchBar" class="form-control input-lg" type="text" placeholder="Search the docs">
		</div>
    </div>
</div>

<div class="container">
	<h2>{{ title }}</h2>
	<div class="from-markdown my-4" itemprop="articleBody">
		{{ content }}
	</div>

	<div class="article-feedback mb-6">
		<hr />
		<div class="feedback-view ">
			<div class="text-muted small mr-2 mb-2">{{ _("Was this article helpful?") }}</div>
			<button class="feedback btn btn-outline-primary btn-sm" data-value="Yes" style="width: 50px;">{{ _("Yes") }}</button>
			<button class="feedback btn btn-outline-primary btn-sm" data-value="No" style="width: 50px;">{{ _("No") }}</button>
			<span class="feedback-msg small hidden">{{ _("Thank you for your feedback!") }}</span>
		</div>
	</div>
</div>


{{ frappe.render_template('templates/components/search/search.html', {}) }}

<script>
frappe.ready(function() {
	frappe.set_search_path("/kb");
    let article = "{{ reference_name or name }}"
    
    if(localStorage[`${article}_feedback_done`]) {
        $(".feedback")[0].classList.add("hidden");
        $(".feedback")[1].classList.add("hidden");
        $(".feedback-msg")[0].classList.remove("hidden");
    } else {
        frappe.call({
            method: "helpdesk.helpdesk.doctype.article.article.increment_view",
            args: {
                article: article
            }
        });
    }

	$(".feedback").click(function() {
		let args = {
			article: article,
			helpful: this.getAttribute("data-value"),
		}

		frappe.call({
			btn: this,
			method: "helpdesk.helpdesk.doctype.article.article.add_feedback",
			args: args,
			callback: function(r) {
				$(".feedback")[0].classList.add("hidden");
				$(".feedback")[1].classList.add("hidden");
				$(".feedback-msg")[0].classList.remove("hidden");

                localStorage[`${article}_feedback_done`] = true;
			}
		})
	});

	$("#propSearchBar").click(function() {
		showSearchBar();
	})
});
</script>
{% endblock %}
