{% extends "templates/kb_base_template.html" %}

{% block page_content %}
{{ frappe.render_template('templates/components/breadcrumbs/breadcrumbs.html', {})}}
{{ frappe.render_template('templates/components/knowledge_base_title_with_search_bar.html', {}) }}
<div class="d-flex">
	<div class="col-7 pr-20 pl-0">
		<h2>{{ title }}</h2>
		<div>
			<i class="bi bi-clock smile mr-1"></i>
			<span class="text-secondary">Last updated on {{ frappe.format_date(modified) }}</span>
		</div>
		<div class="from-markdown my-8" itemprop="articleBody">
			{{ content }}
		</div>
		<div class="card border-0 p-0 bg-light" style="width: min-content;">
			<div class="card-body feedback-view bg-gray-500">
				<div id="feedbackQustion" class="article-feedback d-flex flex-nowrap">
					<div style="white-space: nowrap;">{{ _("Did you find this useful?") }}</div>
					<i class="happy-face feedback bi bi-emoji-smile mx-1 ml-3" data-value="Yes"></i>
					<i class="sad-face feedback bi bi-emoji-frown mx-1" data-value="No"></i>
				</div>
				<span class="feedback-msg hidden" style="white-space: nowrap;">{{ _("Thank you for your feedback!") }}</span>
			</div>
		  </div>
	</div>
</div>

{{ frappe.render_template('templates/components/contact_with_us.html', {'hr_tag': true}) }}

{{ frappe.render_template('templates/components/search/search.html', {}) }}

<script>
frappe.ready(function() {
	frappe.set_search_path("/kb");
    let article = "{{ reference_name or name }}"
    
    if(localStorage[`${article}_feedback_done`]) {
		$("#feedbackQustion").empty();
        $(".feedback-msg")[0].classList.remove("hidden");
    } else {
        frappe.call({
            method: "helpdesk.helpdesk.doctype.article.article.increment_view",
            args: {
                article: article
            }
        });
    }

	$(".feedback").click(function() {
		let args = {
			article: article,
			helpful: this.getAttribute("data-value"),
		}

		frappe.call({
			btn: this,
			method: "helpdesk.helpdesk.doctype.article.article.add_feedback",
			args: args,
			callback: function(r) {
				$("#feedbackQustion").empty();
				$(".feedback-msg")[0].classList.remove("hidden");
                localStorage[`${article}_feedback_done`] = true;
			}
		})
	});
});
</script>

<style>
	.happy-face:hover {
		color: #48BB74;
	}
	.sad-face:hover {
		color: #E24C4C;
	}
</style>
{% endblock %}
