<div class="modal fade" id="searchContainerModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable" role="document">
		<div class="modal-content my-40">
			<div class="modal-header">
				<div class="input-group">
					<input id="searchBarInput" autocomplete="off" class="bg-white form-control border-end-0 border" type="search" placeholder="Type your question..." autofocus >
				</div>
			</div>
			<div id="results" class="modal-body">
			</div>
		</div>
	</div>
</div>

<script>
	frappe.ready(function() {
		let resultsBlock = $("#results");

		resultsBlock.hide();
		resultsBlock.empty();
		
		$('.modal').on('shown.bs.modal', function() {
			$(this).find('[autofocus]').focus();

			$('#searchBarInput').on('input', function() { 
				search(this.value);
			});
		});
	})


	function showSearchBar() {
		$('#searchContainerModal').modal('show');
	}

	function search(text) {
		if(text == "") {
			let resultsBlock = $("#results");

			resultsBlock.hide();
			resultsBlock.empty();
			return;
		}
		frappe.call({
			method: "helpdesk.templates.components.search.search.search_text",
			args: {
				text: text
			},
			callback: function(r) {
				console.log(r.message);
				showResults(r.message);
			}
		})
	}

	function showResults(results) {
		let resultsBlock = $("#results");

		resultsBlock.show();
		resultsBlock.empty();
		for(var i = 0; i < results.length; i++) {
			console.log(results[i]);
			resultsBlock.append(getRenderedResultElement(results[i], index=i, last=(i == (results.length - 1))))
			
			let resultItemBlock = $('#result-item-' + i); 
			resultItemBlock.attr('redirectRoute', results[i].route)
			resultItemBlock.click(function() {
				window.open(`/${this.getAttribute('redirectRoute')}`, '_self');
			});
		}
	}

	function getRenderedResultElement(result, index, last) {
		let a = `
			<div id=${'result-item-' + index} role='button'>
				<span>${result.title}</span>
			</div>
			${last ? '' : '<hr>'}
		`;
		console.log(a);
		return a;
	}
</script>

<style>
	.blur-container{
		-webkit-filter: blur(1px);
		-moz-filter: blur(1px);
		-o-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
	}
</style>