{% extends "templates/kb_base_template.html" %}

{% block page_content %}
{{ frappe.render_template('templates/components/knowledge_base_title_with_search_bar.html', {}) }}
{{ frappe.render_template('templates/components/breadcrumbs/breadcrumbs.html', {}) }}
{% if is_group %}
<div class="container d-flex flex-wrap">
    {% set sub_categories = frappe.get_all("Category", filters={"parent_category": ['=', name]}, fields=['name', 'route']) %}
    {% set max_articles = 6 %}
    {% for sub_category in sub_categories %}
    <div class="col-sm-6 col-12 mb-8 p-0">
        {% set articles = frappe.get_all("Article", filters={"category": ['=', sub_category.name], "published": ['=', '1']}, fields=['title', 'route']) %}
        <div class="d-flex">
            <h3 role="button font-weight-bold" onclick="window.location='/{{ sub_category.route }}'">{{ sub_category.name }}</h3>
            <h3 class="font-weight-light ml-1">({{ articles|length }})</h3>
        </div>
        {% for article in articles %}
        {% if loop.index < max_articles %}
        <div class="article-list py-1">
            <i class="bi bi-journals mr-1"></i>
            <a href="/{{ article.route }}">{{ article.title }}</a>
        </div>
        {% elif loop.index == max_articles %}
        <div class="mt-2 d-flex">
            <a class="font-weight-bold" href='/{{ sub_category.route }}'>View all articles</a>
            <i class="pl-2 bi bi-chevron-right"></i>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% else %}
<div class="container mb-5">
    {% set articles = frappe.get_all("Article", filters={"category": ['=', name], "published": ['=', '1']}, fields=['title', 'route', 'creation']) %}
    <div class="d-flex">
        <h3 role="button font-weight-bold" onclick="window.location='/{{ route }}'">{{ name }}</h3>
        <h3 class="font-weight-light ml-1">({{ articles|length }})</h3>
    </div>
    <div class="d-flex flex-wrap">
        <div class="col-sm-6 col-12 p-0">
            {% for article in articles %}
            {% if loop.index <= (articles|length)/2 + 1 %}
            <div class="article-list py-1">
                <i class="bi bi-journals mr-1"></i>
                <a href="/{{ article.route }}">{{ article.title }}</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-6 col-12 p-0">
            {% for article in articles %}
            {% if loop.index > (articles|length)/2 + 1 %}
            <div class="article-list py-1">
                <i class="bi bi-journals mr-1"></i>
                <a href="/{{ article.route }}">{{ article.title }}</a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{{ frappe.render_template('templates/components/search/search.html', {}) }}

{% endblock %}


