{% extends "templates/web.html" %}

{% block page_content %}
<div>
    <div class="container d-flex mb-5">
        <h2 class="">Knowledge Base</h2>
        <div class="col-xs-4 ml-5">
            <input id="propSearchBar" class="form-control input-lg" type="text" placeholder="Search the docs">
          </div>
    </div>
</div>
<div class="container d-flex mb-5">
    <a href='/hc/'>Home</a><span class="pl-2"> > </span>
    {% if parent_category %}
    {% set parent_category_route = frappe.db.get_value("Category", parent_category, ['route'])%}
    <a href="/{{ parent_category_route }}" class="pl-2"> {{ parent_category }} </a><span class="pl-2"> > </span>
    {% endif %}
    <span class="pl-2"> {{ name }}</span>
</div>
{% if is_group %}
<div class="container d-flex flex-wrap">
    {% set sub_categories = frappe.get_all("Category", filters={"parent_category": ['=', name]}, fields=['name', 'route']) %}
    {% set max_articles = 6 %}
    {% for sub_category in sub_categories %}
    <div class="col-sm-6 col-12 my-4">
        {% set articles = frappe.get_all("Article", filters={"category": ['=', sub_category.name]}, fields=['name', 'route']) %}
        <h3 role="button" onclick="window.location='/{{ sub_category.route }}'">{{ sub_category.name }} ({{ articles|length }})</h3>
        <hr>
        {% for article in articles %}
        {% if loop.index < max_articles %}
        <div class="article-list">
            <li role="button" onclick="window.location='/{{ article.route }}'">{{ article.name }}</li>
        </div>
        {% elif loop.index == max_articles %}
        <a href='/{{ sub_category.route }}'>See all {{ articles|length }} articles</a>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% else %}
<div class="container mb-5">
    {% set articles = frappe.get_all("Article", filters={"category": ['=', name]}, fields=['name', 'route', 'creation']) %}
    <h2>{{ name }} ({{ articles|length }})</h2>
    <hr>
    <table class="table table-borderless table-hover">
        <tbody>
            {% for article in articles %}
            <tr role="button" onclick="window.location='/{{ article.route }}'">
                <td>
                    <img class="wx-10 wy-10" src=""/>
                </td>
                <td scope="col">{{ article.name }}</td>
                <td class="text-right" scope="col">{{ frappe.format_date(article.creation) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{{ frappe.render_template('templates/components/search/search.html', {}) }}

<script>
    frappe.ready(function() {
        $("#propSearchBar").click(function() {
            showSearchBar();
        })
    });
</script>

{% endblock %}


