{% extends 'templates/web.html'%}

{% block title %}{{ _("New Ticket") }}{% endblock %}

{% block page_content %}
{% if frappe.session.user != "Guest" %}
<div>
	<h2>{{ _("New Ticket") }}</h2>
	<form class="">
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="subjectInput">Subject</label>
				<input type="text" class="form-control" id="subjectInput" placeholder="">
			</div>
			<div class="form-group col-md-6">
				<label for="typeInput">Type</label>
				<select id="typeInput" class="form-control">
					{% set types = frappe.get_all("Ticket Type") %}
					{% for type in types %}
					{% if loop.counter == 0 %}
					<option selected>{{ type }}</option>
					{% else %}
					<option>{{ type }}</option>
					{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="descriptionInput">Description</label>
			<textarea class="form-control" id="descriptionInput" rows="5"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Create</button>
	  </form>
</div>
{% else %}
<div class="alert alert-warning">
	<p>
		Please login to be able to create tickets.
	</p>
	<p>
		If you don't already have an account, you can <a href="/login#signup">sign up for a new account</a>.
	</p>
	<a class="btn btn-primary" href="/login">Login to continue</a>
</div>
{% endif %}
{% endblock %}