name: Lint

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened

permissions:
  contents: read
  pull-requests: write 

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - run: npm install -g yarn
      - run: yarn install --frozen-lockfile
      - uses: reviewdog/action-eslint@v1
        with:
          eslint_flags: '--ext vue --ext js --ext ts --ext json .'
          reporter: github-pr-review
          fail_on_error: true

  linter:
    name: Semgrep Rules
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Download Semgrep rules
        run: git clone --depth 1 https://github.com/frappe/semgrep-rules.git frappe-semgrep-rules
      - name: Run Semgrep rules
        run: |
          pip install semgrep==0.97.0
          semgrep ci --config ./frappe-semgrep-rules/rules --config r/python.lang.correctness
